/* -------------------------------

Hello There!

-------------------------------- */
.container {
  display: grid;
  width: 100%;

  grid-template-areas: ". . . . ."
                       "c c a a a"
                       "c c p p p"
                       "c c p p p"
                       ". . . . .";
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto Condensed";
}

.card {
  grid-area: c;
  display: block;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

.card img {
  width: 100%
}

.card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card li {
  display: inline;
  padding: .5em;
}

.title {
  color: grey;
  font-size: 18px;
}

.focus {
  color: skyblue;
  font-size: 1em;
  margin: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.header {
  grid-area: h;
  color: teal;
  max-width: 600px;
}

.about {
  grid-area: a;
  display: block;
  max-width: 600px;
}

.post-thumbs {
  grid-area: p;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-gap: 10px;
}

h1 {
  color: skyblue;
  font-family: "Roboto Slab";
}

h2 {
  color: grey;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: .5em;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: .75em;
  font-family: inherit;
  text-transform: uppercase;
  margin: 1em;
}

a {
  text-decoration: none;
  font-weight: heavy;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

i.fa-twitter:hover, a:hover {
  color: #00aced;
}

i.fa-linkedin:hover, a:hover {
  color: #0077b5;
}

i.fa-instagram:hover, a:hover {
  color: #bc2a8d ;
}
